@{
  Layout = "_Layout";
}

<div class="container">

<h3>Here are @Model["stylist"].GetName()'s clients:</h3>

@if (@Model["clients"].Count == 0)
{
  <h4>@Model["stylist"].GetName() does not have any clients at the moment. Add one with the link below:</h4>
}

<ol>
@foreach (var client in @Model["clients"])
{
  <li><a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()'>@client.GetName()</a></li>
}
</ol>

<h3>And here are @Model["stylist"].GetName()'s specialties:</h3>

@if (@Model["stylistSpecialties"].Count == 0)
{
  <h4>@Model["stylist"].GetName() does not have any specialties at the moment. Add one with the link below:</h4>
}

<ol>
@foreach (var specialty in @Model["stylistSpecialties"])
{
  <li><a href='/specialties/@specialty.GetId()'>@specialty.GetName()</a></li>
}
</ol>

<h4>Add more specialties for this stylist:</h4>
    <form action = "/stylists/@Model["stylist"].GetId()/addSpecialty" method = "post">
        <input type = "number" name="stylistId" value =@Model["stylist"].GetId() hidden>
        <label for = "specialtyAdded">Choose Specialty</label>
        <select name = "specialtyAdded" type = "text"><br>
            @foreach(var specialty in @Model["allSpecialties"])
            {
                <option value="@specialty.GetId()"> @specialty.GetName() </option>
            }
        </select>
        <button class="btn btn-sm btn-primary" type = "submit"> Add Specialty </button>
    </form>


<p><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add a new client to this stylist!</a></p>
<p><a href='/stylists/@Model["stylist"].GetId()/delete'>Delete this stylist and their client list.</a></p>
<p><a href='/stylists'>Return to stylist list</a></p>
<p><a href='/'>Return to Main Page</a></p>

</div>