@{
  Layout = "_Layout";
}

<div class="container">

<h1>~@Model["specialty"].GetName() specialists~</h1>

<br>
@if (@Model["specialtyStylists"].Count == 0)
{
  <h4>@Model["specialty"].GetName() does not have any stylists at the moment. Add one with the link below:</h4>
}


@foreach (var stylist in @Model["specialtyStylists"])
{
  <h2><a href='/stylists/@stylist.GetId()'>@stylist.GetName()</a></h2>
}

<br>
<h4>Add stylist for this specialty:</h4>

    <form action = "/specialties/@Model["specialty"].GetId()/addStylist" method = "post">
        <input type = "number" name="specialtyId" value =@Model["specialty"].GetId() hidden>
        <label for = "stylistAdded">Stylist:</label>
        <select name = "stylistAdded" type = "text"><br>
            @foreach(var stylist in @Model["allStylists"])
            {
                <option value="@stylist.GetId()"> @stylist.GetName() </option>
            }
        </select>
        <button class="btn btn-sm btn-primary" type = "submit"> Add Stylist </button>
    </form>
<br>

<h4><a href='/specialties'>Specialties</a></h4>
<h4><a href='/'>Home</a></h4>

</div>